/* 00b7ff */
@media (max-width: 768px) {
  .custom-polygon {
    width: 70% !important;
    height: 70vh !important;
  }
}

@media (max-width: 449px) {
  .custom-polygon {
    width: 177% !important;
    height: 100vh !important;
  }
}

.custom-polygon {
  /* 309fc7 */
  /* background-image: linear-gradient(260deg, rgba(23, 23, 23, 0.7), #1c2644), url("../../images/woman-writing.jpg"); */
  background-image: linear-gradient(260deg, rgba(23, 23, 23, 0.76), #8cc5d2e3), url("../../images/woman-writing.jpg");
  background-size: cover;
  clip-path: polygon(25% 0%, 100% 0, 100% 100%, 25% 100%, 0% 50%);
  position: absolute;
  height: 100vh;
  top: 0%;
  right: 0;
  width: 55%;
  z-index: 0;
}
